
@font-face {
   font-family: "karla";
   src: url("/assets/fonts/static/Karla-Regular.ttf") format("truetype");
}

body {
    background: #e2f1e7;
    height:100vh;
    font-family: "karla";
    display: flex;
    justify-content: center;
    align-items: center;
}

input textarea {
    border: solid 2px #8f9294;
    border-radius: 20px;
}

label {
    font-size: 0.8rem;
}


.form-container {
    background-color: #ffffff;
    width: 45%;
    height: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2{
    padding:0;
    margin: 0;
}

.name-container {
    
    display: flex;
    justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; 
}

.name-field {
    width: 45%;
}

.text-input{
    width: 100%;
    height: 1.5rem;
}

.radio-group {
  border: none;
  padding: 0;
  margin: 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap:0.5rem
}

.radio-card-container {
    display: flex;
    gap: 1rem;
}

.radio-card {
  flex: 1;
  display: flex;
  align-items: center;
  border: solid 1px black;
  padding: 1rem 0.2rem;
}

.submit-btn {
    width: 100%;
    padding: 1rem;
    background: #0c7d69;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}

.consent-label {
    display: flex;
    align-items: center;
}