body {
    background: #e2f1e7;

    height:100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #ffffff;
    width: 45%;
    height: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    padding:0;
    margin: 0;
}

.name-container {
    
    display: flex;
    justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; 
}

input{
    width: 100%;
    height: 1.5rem;
}

