
@font-face {
   font-family: "karla";
   src: url("/assets/fonts/static/Karla-Regular.ttf") format("truetype");
}

body {
    background: #e2f1e7;
    height:100vh;
    font-family: "karla";
    display: flex;
    justify-content: center;
    align-items: center;
}

input textarea {
    border: solid 2px #8f9294;
    border-radius: 20px;
    
}

textarea {
  resize: none;
}

input[type="radio"] {
    accent-color: hsl(169,82%,27%);
}

input[type="checkbox"] {
     accent-color: hsl(169,82%,27%);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;

}


label {
    font-size: 0.8rem;
    color: #8c9595;
}


.form-container {
    background-color: #ffffff;
    width: 45%;
    height: 80%;
    max-height: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

h2{
    padding:0;
    margin: 0;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; 
}

.name-field {
    width: 45%;
}

.text-input{
    width: 100%;
    height: 1.5rem;
}

.radio-group {
  border: none;
  padding: 0;
  margin: 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap:0.5rem
}

.radio-card-container {
    display: flex;
    gap: 1rem;
}

.radio-card {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.6rem 0.2rem;
  border: solid 1px #8f9294;
  border-radius: 10px;
}

.submit-btn {
    width: 100%;
    padding: 1rem;
    background: #0c7d69;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}

.consent-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.toast {
    position: fixed;
    top: 20px;
    width: 30%;
    padding: 0.8rem ;
    height: 60px;
    background: #093f20;
    color: #dbe3de;
    font-size: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
}

.toast-img-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast-p{
    font-size: 0.8rem;
}

.toast.show {
    opacity: 1;
    pointer-events: auto;
}

p {
    margin: 0;
    padding: 0;
}

input.error,
textarea.error {
  border: 1px solid red;
}

.error-message {
  display: none;
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.radio-card:hover {
    background: #e2f1e7;
    cursor: pointer;
}

.submit-btn {
    cursor: pointer;
}


@media screen and (max-width:660px) {
    .form-container{
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .form-container {
        height: 95%;
        max-height: 100%;
        margin-top: 50px;
        width: 80%;
    }
    .name-container{
        display: block;
    }
    .name-field{
        width: 100%;
    }
    .radio-card-container{
        flex-direction: column;

    }
}
